html, body {
    margin: 0px;
    padding: 0px; 
}

#geral {
    display: flex;
    width: 100%;
    height: 450px;
}

#dentro {
    width: 100%;
    height: auto;
    background-color: aliceblue;
    border: 3px solid black;
    width: 65%;
    height: auto;
    margin: 5px;
    margin-left: 5%;
    margin-top: 5%;
    text-align: left;
}

#enunciado {
    display: flex;
    text-align: left;
    margin-left: 1%;
}

#apresent {
    text-align: center;
}

#lb1 {
    margin-left: 5%;
}


#lb2 {
    margin-left: 3%;
}

#lb3 {
    margin-left: 8%;
}

#lb4 {
    margin-left: 0%;
}

#chbox {
    margin-left: 27%;
}

#numb1 {
    border-radius: 5px;
    margin-left: 3%;
}

#numb2 {
    border-radius: 5px;
    margin-left: 2.7%;
}

#numb3 {
    border-radius: 5px;
    margin-left: 2.5%;
}

#bt1 {
    border-radius: 10%;
    margin-left: 195px;
    color: white;
    background-color: rgb(118, 131, 247);
}

#bt2 {
    border-radius: 10%;
    margin-left: 15px;
    color: white;
    background-color: rgb(118, 131, 247);
}

#Cons {
    margin-left: 450px;
    margin-top: -160px;
    position: relative;
}

#txtbox1 {
    width: 25%;
    height: auto;
    margin-left: 450px;
    margin-top: -10px;
    text-align: center;
    position: relative;
    float: left;
}